/* Loading Page */
.animate-loading-page-up{
    animation: loadingup 2s infinite;
}

.animate-loading-page-down{
    animation: loadingdown 2s infinite;
}

@keyframes loadingup {
    0%, 100% {
        transform: translateY(-50%);
        opacity: 95%;
    }
    50% {
        transform: translateY(10%);
        opacity: 90%;
    }
}

@keyframes loadingdown {
    0%, 100% {
        transform: translateY(-30%);
        opacity: 95%;
    }
    50% {
        transform: translateY(-150%);
        opacity: 90%;
    }
}


.animate-spine {
    animation: spine 3s linear infinite;
}

.animate-spin-reverse {
    animation: spin-reverse 2.5s linear infinite;
}

@keyframes spin-reverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spine {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
}


