APP_BASE_URL="http://localhost:5173/"
APP_ASSETS_IMAGE_PATH="http://localhost:5173/src/assets/images/"
APP_ASSETS_ICONS_PATH="http://localhost:5173/src/assets/icons/"
APP_DEBUG=true

# URL API
APP_API_URL=url-api