.modif {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.header-icon {
    width: 24px;
    height: 24px;
    background-image: url('../../../assets/icons/icons.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 60% 60%;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 168px;
    margin-right: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    background-image: url('../../../assets/icons/icons.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    display: inline-block;
}

.icon-located {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('../../../assets/icons/location.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-down {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../../assets/icons/icons.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: inline-block;
}

