.official-store{
    background-image: url('../../../assets/images/product/official_store_badge.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1.1rem;
    height: 1.1rem;
}


.stars-icon{
    background-image: url('../../../assets/icons/star.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}