@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sauce';
    src: url('./assets/fonts/OpenSauceOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}