.logout{
    background: url(../../../assets/icons/logout.svg) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
}

.saldo{
    background: url(../../../assets/icons/6414abf1.svg) no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
}