.bg-nav-product-1{
    background-image: url('../../../../assets/images/background/40768394_6a24460c-fbc2-40ab-bea6-3e557474f1d7.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-nav-product-2{
    background-image: url('../../../../assets/images/background/75545163_f6ac6050-3872-48e8-b445-02a33e346061.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-nav-product-3{
    background-image: url('../../../../assets/images/background/40768394_7c9ad641-8a48-4b63-a4cc-cae37bbcaae1.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-nav-product-4{
    background-image: url('../../../../assets/images/background/a14d9d4e-8b3d-4345-9a15-3c66a921b2f2.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-nav-product-5{
    background-image: url('../../../../assets/images/background/b224bcca-2338-49cc-b565-2e96f084e8f4.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}