.icon-close {
    width: 1.2rem;
    height: 1.2rem;
    background-image: url('../../../assets/icons/close.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
}